body {padding-top: 60px;}
@media (max-width: 980px) {
  /* Enable use of floated navbar text */
  .navbar-text.pull-right {float: none;padding-left: 5px;padding-right: 5px;}
}
.brand-logo {height:10px;margin-right:5px;}
.item-list {padding-top: 5px;}
.item-list li {border-bottom: 1px solid #F4F4F4;display: block;line-height: 40px;clear: both;}
.item-list-category {text-align: center;width: 50px;}
.item-list-title {margin-left: 5px;}
.item-list-time {color: gray}
a {color: black;text-decoration: none;}
a:hover {color: #2C81AA;text-decoration: none;}