{% extends "layout.html" %}
{% block body %}
	<ul class="breadcrumb">
	  <li><a href="{{ url_for('index') }}">Home</a> <span class="divider">/</span></li>
	  <li class="active">Add</li>
	</ul>
	{% if error %}
	<div class="alert alert-error">
		  <button type="button" class="close" data-dismiss="alert">×</button>
		  {{ error }}
		</div>
	{% endif %}
	
	<div class="span10 offset1">
	    <form class="form-horizontal" method="post" action="{{ url_for('add_article') }}">
		    <div class="control-group">
		    	<div class="controls">
		      		<input class="span5" type="text" name="title" placeholder="Title">
		    	</div>
		    </div>
			<div class="control-group">
			    <div class="controls">
			        <input class="span5" type="text" name="slug" placeholder="Slug">
			    </div>
			</div>
			<div class="control-group">
			    <div class="controls">
			        <input class="span5" type="text" name="category" placeholder="Category">
			    </div>
			</div>
			<div class="control-group">
			    <div class="controls">
			        <input class="span5" type="text" name="tag" placeholder="Tag">
			    </div>
			</div>
			<div class="control-group">
			    <div class="controls">
			        <textarea class="span5" rows="10" name="markdown"></textarea>
			    </div>
			</div>
			<div class="control-group">
				<div class="controls">
					<input class="btn" type="submit" value="Share"/>
				</div>
			</div>
            
            <div id="container">
                <div id="editor-nav-bar">
                    <div id="wmd-button-bar" class="pull-left"></div>
                    <div id="preview-button-bar" class="pull-right">
                        <ul id="preview-button-row" class="preview-button-row">
                            <li class="preview-button" id="preview-new-button" title="新建文件 Ctrl+Alt+N">
                                <span class="icon-file muted"></span>
                            </li>
                            <li class="preview-button" id="preview-theme-button" title="主题切换 Ctrl+Alt+J">
                                <span class="icon-shield muted"></span>
                            </li>
                            <li class="preview-button" id="preview-reader-full-button" title="阅读模式 Ctrl+Alt+M">
                                <span class="icon-desktop muted"></span>
                            </li>
                            <li class="preview-button" id="preview-reader-small-button" title="预览模式 Ctrl+Alt+M">
                                <span class="icon-columns muted"></span>
                            </li>
                            <li class="preview-button" id="preview-fullscreen-button" title="全屏模式 F11">
                                <span class="icon-fullscreen muted"></span>
                            </li>
                            <!-- There is at least one item of 'wmd-spacer' must be in the ul list, otherwise, the hover on the button leads to page issue. -->
                            <li class="wmd-spacer"></li>
                        </ul>
                    </div>
                    <div id="article-title-bar" class="pull-right">Cmd - 在线 Markdown 编辑阅读器
                        <a href="http://www.weibo.com/ghosert" target="_blank"><i class="icon-weibo"></i> @ghosert</a>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div id="left-column" class="pull-left">
                    <div id="wmd-panel-editor" class="wmd-panel-editor">
                        <textarea class="wmd-input theme" id="wmd-input" spellcheck="false"></textarea>
                    </div>
                </div>
                <div id="right-column" class="pull-right">
                    <div id="wmd-panel-preview" class="wmd-panel-preview preview-container">
                        <div id="wmd-preview" class="wmd-preview"></div>
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>


            <!-- Hidden md-section-helper is used to calculate the height of md sections. -->
            <textarea id="md-section-helper"></textarea>

            <!-- Hidden Popup Modal -->
            <div id="editorDialog" class="modal hide fade theme" tabindex="-1" role="dialog" aria-labelledby="notification-title" aria-hidden="true">
                <div class="modal-header theme">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="editorDialog-title"></h3>
                </div>
                <div class="modal-body theme">
                    <p></p>
                    <i class="icon-2x"></i> <input class="span5" type="text" placeholder=''>
                </div>
                <div class="modal-footer theme">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
                    <button id="editorDialog-confirm" class="btn btn-primary">确认</button>
                </div>
            </div>

            <!-- full editor reader, hidden when loading. -->
            <div id="editor-reader-full" class="editor-reader-full-hidden">
            </div>
        </div>

        <!-- jquery & Bootstrap -->
        <script src="static/js/jquery-1.8.3.min.js"></script>
        <script src="static/js/jquery-ui-1.10.2.custom.min.js"></script>
        <script src="static/js/jquery.ui.datepicker-zh-CN.js"></script>
        <script src="static/js/bootstrap.js"></script>

        <script src="static/js/jquery.storage.js"></script>
        <script src="static/editor/google-code-prettify/prettify.js"></script>
        <script src="static/editor/pagedown/Markdown.Converter.js"></script>
        <script src="static/editor/pagedown/Markdown.Sanitizer.js"></script>
        <script src="static/editor/pagedown/Markdown.Editor.js"></script>
        <script src="static/editor/pagedown/local/Markdown.local.zh.js"></script>
        <script src="static/editor/Markdown.Extra.js"></script>
        <script src="static/editor/underscore.js"></script>
        <script src="static/editor/css_browser_selector.js"></script>
        <script src="static/editor/scroll-link.js"></script>
        <!--mathjax-->
        <script type="text/x-mathjax-config">
          MathJax.Hub.Config({ tex2jax: { inlineMath: [['$','$'], ["\\(","\\)"]], processEscapes: true },  messageStyle: "none"});
        </script>
        <!--mathjax source code is here: https://github.com/mathjax/MathJax, you could host it on your own server one day.-->
        <script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
        <script src="static/editor/jquery.waitforimages.js"></script>
        <script src="static/editor/jquery.autosize-min.js"></script>
        <script src="static/editor/editor.js"></script>
            
	    </form>
    </div>
{% endblock %}