{% extends "layout.html" %}
{% block body %}
	<ul class="breadcrumb">
	  <li><a href="{{ url_for('index') }}">Home</a> <span class="divider">/</span></li>
	  <li class="active">Add</li>
	</ul>
	{% if error %}
	<div class="alert alert-error">
		  <button type="button" class="close" data-dismiss="alert">×</button>
		  {{ error }}
		</div>
	{% endif %}
	
	<div class="span10 offset1">
	    <form class="form-horizontal" method="post" action="{{ url_for('add_article') }}">
		    <div class="control-group">
		    	<div class="controls">
		      		<input class="span5" type="text" name="title" placeholder="Title">
		    	</div>
		    </div>
			<div class="control-group">
			    <div class="controls">
			        <input class="span5" type="text" name="slug" placeholder="Slug">
			    </div>
			</div>
			<div class="control-group">
			    <div class="controls">
			        <input class="span5" type="text" name="category" placeholder="Category">
			    </div>
			</div>
			<div class="control-group">
			    <div class="controls">
			        <input class="span5" type="text" name="tag" placeholder="Tag">
			    </div>
			</div>
			<div class="control-group">
			    <div class="controls">
			        <textarea class="span5" rows="10" name="markdown"></textarea>
			    </div>
			</div>
			<div class="control-group">
				<div class="controls">
					<input class="btn" type="submit" value="Share"/>
				</div>
			</div>
            
            <div id="epiceditor" style="border:1px solid #ccc"></div>
            <script>
            var opts = {
              container: 'epiceditor',
              textarea: null,
              basePath: 'static/epic-editor',
              clientSideStorage: true,
              localStorageName: 'epiceditor',
              useNativeFullscreen: true,
              parser: marked,
              file: {
                name: 'epiceditor',
                defaultContent: '',
                autoSave: 100
              },
              theme: {
                base: '/themes/base/epiceditor.css',
                preview: '/themes/preview/github.css',
                editor: '/themes/editor/epic-light.css'
              },
              button: {
                preview: true,
                fullscreen: true
              },
              focusOnLoad: false,
              shortcut: {
                modifier: 18,
                fullscreen: 70,
                preview: 80
              },
              string: {
                togglePreview: 'Toggle Preview Mode',
                toggleEdit: 'Toggle Edit Mode',
                toggleFullscreen: 'Enter Fullscreen'
              }
            }
            var editor = new EpicEditor(opts);
            editor.load();
            </script>
	    </form>
    </div>

{% endblock %}