{% extends "layout.html" %}
{% block body %}
	<style>
	.secondary {
		width: 80% !important;
	}
	</style>
	<div class="page-header">
        <div class="page-header-content">
            <h1>Add<small> Form</small></h1>
            <a class="back-button big page-back" href="/"></a>
        </div>
    </div>
	<h2></h2>
	{% if error %}
	<div class="span5">
        <div class="notices">
            <div class="bg-color-red">
                <a class="close close-parent" href="#"></a>
                <div class="notice-header fg-color-yellow">Error:</div>
                <div class="notice-text">{{ error }}</div>
            </div>
        </div>
    </div>
	{% endif %}
	
	<div class="span10">

    <form method="post" action="{{ url_for('add_article') }}">
        <div class="input-control text">
            <input type="text" name="title" placeholder="Title">
            <button class="helper" tabindex="-1" type="button"></button>
        </div>
        <div class="input-control text">
            <input type="text" name="slug" placeholder="Slug">
            <button class="helper" tabindex="-1" type="button"></button>
        </div>
		<div class="input-control textarea">
            <textarea name="markdown"></textarea>
        </div>
		<input type="submit" value="Share"/>
    </form>
    </div>
{% endblock %}