{% extends "layout.html" %}
{% block body %}
	<style>
	.secondary {
		width: 80% !important;
	}
	</style>
	<ul class=entries>
		{% for article in articles %}
		<h2>{{ article.title }}</h2>
		<a href={{ url_for('download_file', filename=article.slug+'.md')}}>Download {{ article.slug }}.md</a>
		<em>{{ article.time }}</em>
		{{ article.html|safe }}
		{% else %}
		<li><em>Nothing here</em>
		{% endfor %}
	</ul>
	<!-- Duoshuo Comment BEGIN -->
		<div class="ds-thread"></div>
	<script type="text/javascript">
	var duoshuoQuery = {short_name:"daimazhimei"};
		(function() {
			var ds = document.createElement('script');
			ds.type = 'text/javascript';ds.async = true;
			ds.src = 'http://static.duoshuo.com/embed.js';
			ds.charset = 'UTF-8';
			(document.getElementsByTagName('head')[0] 
			|| document.getElementsByTagName('body')[0]).appendChild(ds);
		})();
		</script>
	<!-- Duoshuo Comment END -->
{% endblock %}