{% extends "layout.html" %}
{% block body %}


	<div class="span10 offset1">
		<ul class="item-list">
			{% for article in articles %}
			<li>
				<a href="{{ url_for('category', category_name=article.category) }}"/><span class="label item-list-category">{{ article.category }}</span></a>
				<a href="{{ url_for('read', slug=article.slug)}}" class="item-list-title"/>{{ article.title }}</a>
				<small class="pull-right item-list-time">{{ article.create_time }}</small>
			</li>
			{% else %}
			<li><em>Nothing here</em>
			{% endfor %}
		</ul>
	
		<div class="pagination pagination-centered">
		  <ul>
			{% if pagination.has_prev %}
			<li><a href="{{ url_for_other_page(pagination.page - 1) }}">«</a></li>
			{% else %}
			<li class="disabled"><a href="#">«</a></li>
			{% endif %}
			{% for page in pagination.iter_pages() %}
				{% if page %}
					{% if page != pagination.page %}
						<li><a href="{{ url_for_other_page(page) }}">{{ page }}</a></li>
					{% else %}
						<li class="active"><a>{{ page }}</a></li>
				{% endif %}
				{% else %}
					<li class="spaces"><a>...</a></li>
				{% endif %}
			{% endfor %}
			{% if pagination.has_next %}
			<li><a href="{{ url_for_other_page(pagination.page + 1) }}">»</a></li>
			{% else %}
			<li class="disabled"><a href="#">»</a></li>
			{% endif %}
		  </ul>
		</div>
	</div>

	
{% endblock %}