<!doctype html>
<html>
<head>
{% block head %}
<title>Olab Blog</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel=stylesheet type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel=stylesheet type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<link rel=stylesheet type="text/css" href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}">

<!-- jQuery UI -->
<link href="static/css/smoothness/jquery-ui-1.10.2.custom.min.css" rel="stylesheet" media="screen">

<!-- awesome font -->
<link href="static/font-awesome/css/font-awesome.css" rel="stylesheet">

<link href="static/editor/google-code-prettify/prettify.css" type="text/css" rel="stylesheet">
<link href="static/editor/editor.css" rel="stylesheet">

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
  <script src="{{ url_for('static', filename='js/html5shiv.js') }}"></script>
<![endif]-->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.9.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/common.js') }}"></script>
{% endblock %}
</head>
<body>
	<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
    	<div class="container">
    	  <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
    		<span class="icon-bar"></span>
    		<span class="icon-bar"></span>
    		<span class="icon-bar"></span>
    	  </button>
    	  <a class="brand" href="{{ url_for('index') }}"><img class="brand-logo" src="{{ url_for('static', filename='img/logo.png') }}">Olab Blog</a>
    	  <div class="nav-collapse collapse">
    		<ul class="nav">
    		  <li class="active"><a href="{{ url_for('index') }}">Home</a></li>
			  <li><a href="{{ url_for('get_category') }}">Categories</a></li>
    		  <li><a href="https://github.com/xiaozhui" target="_blank">Github</a></li>
    		</ul>
			<ul class="nav pull-right">
  	    	  {% if session.logged_in %}
				<li class="dropdown">
		            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Logged in as {{ session.username }}<b class="caret"></b></a>
		            <ul class="dropdown-menu">
					  <li><a href="{{ url_for('add_article') }}" class="navbar-link">Add</a></li>
		              <li class="divider"></li>
  		              <li><a href="{{ url_for('logout') }}">Log out</a></li>
		            </ul>
				 </li>
  	    	  {% else %}
  	    	  	<li><a href="{{ url_for('login') }}" class="navbar-link">Log in</a></li>
  	    	  {% endif %}
			</ul>
    	  </div><!--/.nav-collapse -->
    	</div>
      </div>
    </div>
    <div class="container">
      
      {% for message in get_flashed_messages() %}
        <div class="alert alert-info">
          <button type="button" class="close" data-dismiss="alert">×</button>
    	  {{ message }}
        </div>
      {% endfor %}
      
      <div class="row">
      {% block body %}{% endblock %}
      </div>
      
    </div>
</body>
</html>