{% extends "layout.html" %}
{% block body %}
	<ul class="breadcrumb">
	  <li><a href="{{ url_for('index') }}">Home</a> <span class="divider">/</span></li>
	  <li class="active">Login</li>
	</ul>
	{% if error %}
	<div class="alert alert-error">
		  <button type="button" class="close" data-dismiss="alert">×</button>
		  {{ error }}
		</div>
	{% endif %}
	

	<div class="span10 offset1">
		<form class="form-horizontal" method="post" action="{{ url_for('login') }}">
		  <div class="control-group">
			<label class="control-label" for="inputUsername">Username</label>
			<div class="controls">
			  <input type="text" id="inputUsername" name="username" placeholder="Username">
			</div>
		  </div>
		  <div class="control-group">
			<label class="control-label" for="inputPassword">Password</label>
			<div class="controls">
			  <input type="password" id="inputPassword" name="password" placeholder="Password">
			</div>
		  </div>
		  <div class="control-group">
			<div class="controls">
			  <button type="submit" class="btn">Sign in</button>
			</div>
		  </div>
		</form>
	</div>
	
{% endblock %}